@import '../../scss/vars';

.authpage {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		max-width: 270px;
		width: 100%;
	}

	&__item {}
}

.auth {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 20px;

	&__title {
		text-align: center;
		color: #fff;
		font-size: 30px;
		font-weight: 700;
	}

	&__delimiter {
		width: 50px;
		height: 2px;
		background-color: $gray;
		align-self: center;
	}

	.loader {
		position: absolute;
		top: -5px;
		left: -5px;
		width: calc(100% + 10px);
		height: calc(100% + 10px);
		backdrop-filter: blur(2px);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.auth-form {
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__body {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__change {
		color: #fff;
	}

	&__error {
		color: $red;
		font-size: 12px;
		line-height: 1.25;
		font-weight: 600;
	}

	&__link {
		color: $blue;
		text-decoration: underline;
		transition: 350ms;

		&:hover {
			@media #{$mouse-device} {
				color: $blueHover;
			}
		}
	}

	.button {
		width: 100%;
	}
}